backend/node_modules/
backend/.env
backend/uploads/
backend/NSIF/
backend/serviceAccountKey.json

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

nsif

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

backend/public/